#Ignore .vscode
.vscode

#Ignore all obj folders
API/obj
Domain/obj

#Ignore all obj folders
API/bin
Domain/bin

#Ignore appsettings.json
API/appsettings.json

/node_modules

obj/

APITests/bin/
APITests/obj/